.downloadButton {
    padding: var(--mantine-spacing-xl);
  }
  .mainLink {
    align-items: center;
    width: 100%;
    font-size: var(--mantine-font-size-sm);
    padding: rem(8px) var(--mantine-spacing-xs);
    border-radius: var(--mantine-radius-sm);
    font-weight: 500;
    color: light-dark(var(--mantine-color-gray-7), var(--mantine-color-dark-0));
  
    &:hover {
      background-color: light-dark(var(--mantine-color-gray-0), var(--mantine-color-dark-6));
      color: light-dark(var(--mantine-color-gray-7), var(--mantine-color-dark-0));
    }
  }
  